.status {
  min-width: 92px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  text-align: center;
  padding: 6px 8px;
  border-radius: 4px;

  &.green {
    background: #43AD28;
  }

  &.red {
    background: #EB0237;
  }

  &.orange {
    background: #EB6402;
  }
}