* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Inter, sans-serif;
  color: #fff;
  background: #06080C;
  padding: 42px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
